.pokemon-button {
    border: none;
    background-color: #357b70;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #2a5d54;
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 400px;
    min-height: 50px;
    text-align: center;
}

.pokemon-list {
    list-style: none;
    padding: 0;
    margin: 0;
}